<li class="page-item">
    <a class="page-link"
       href="/app/TuitionDiscovery.html?page={{pageM1}}&items={{items}}"
       tabindex="-1">Previous</a>
</li>
<li class="page-item"><a class="page-link"
                         href="/app/TuitionDiscovery.html?page={{pageM1}}&items={{items}}">{{pageM1}}</a>
</li>
<li class="page-item active">
    <a class="page-link" href="#">{{page}} <span class="sr-only">(current)</span></a>
</li>
<li class="page-item"><a class="page-link"
                         href="/app/TuitionDiscovery.html?page={{pageP1}}&items={{items}}">{{pageP1}}</a>
</li>
<li class="page-item">
    <a class="page-link"
       href="/app/TuitionDiscovery.html?page={{pageP1}}&items={{items}}">Next</a>
</li>