{{!-- {{#each schedules as |schedule|}} --}}
<div class="card m-0 mb-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card-title h4 mx-3">
                Batch Code:
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-title h4 mx-3 text-info text-uppercase">
                {{#each schedules as |schedule|}}
                {{#if @first}}
                {{schedule.batchCode}}
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card-title col-12 h5 font-weight-normal">
                Attendance:
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-title col-12 h4" style="color:#00bcd4 !important">
                {{attendencePercentage}}%
            </div>
        </div>
    </div><br>
    <div class="col-12 mb-3">
        <div style="width:100%;max-height:500px!important;overflow-y: scroll!important;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center"><small>Date</small></th>
                        <th><small>Topic</small></th>
                        <th><small>Faculty</small></th>
                        <th><small>Status</small></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each schedules as |schedule|}}
                    <tr>
                        <td class="text-center p-0">{{schedule.date}}</td>
                        <td class="p-0 text-capitalize">{{schedule.topic}}</td>
                        <td class="p-0 text-capitalize">{{schedule.faculty}}</td>

                        {{#if isAbsent}}
                        <td class="text-danger p-0">Absent</td>
                        {{else}}
                        <td class="text-success p-0">{{#if yetToCome}}<span class="text-info">Scheduled</span>{{else}}Present{{/if}}</td>
                        {{/if}}
                    </tr>
                    {{/each}}
                    {{!-- <tr>
                        <td class="text-center">23/11/2018</td>
                        <td>Andrew Mike</td>
                        <td>Develop</td>
                        <td class="text-success">Present</td>
                    </tr>
                    <tr>
                        <td class="text-center">23/11/2018</td>
                        <td>Andrew Mike</td>
                        <td>Develop</td>
                        <td class="text-success">Present</td>
                    </tr>
                    <tr>
                        <td class="text-center">23/11/2018</td>
                        <td>Andrew Mike</td>
                        <td>Develop</td>
                        <td class="text-danger">Absent</td>
                    </tr>
                    <tr>
                        <td class="text-center">23/11/2018</td>
                        <td>Andrew Mike</td>
                        <td>Develop</td>
                        <td class="text-danger">Absent</td>
                    </tr>
                    <tr>
                        <td class="text-center">23/11/2018</td>
                        <td>John Doe</td>
                        <td>Design</td>
                        <td class="text-danger">Absent</td>
                    </tr>
                    <tr>
                        <td class="text-center">23/11/2018</td>
                        <td>Alex Mike</td>
                        <td>Design</td>
                        <td class="text-danger">Absent</td>
                    </tr> --}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{!-- {{/each}} --}}