<div class="card" id="{{reviewId}}">
    <div class="card-body">
        <h4 class="card-title">{{name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{rating}}/5</h6>
        <p class="card-text">{{description}}</p>
        <button class="btn btn-danger btn-round" onclick="deleteReview('{{userId}}','{{tuitionId}}','{{reviewId}}')">Delete</button>
    </div>
</div>