<div class="row">
    <div class="col-md-3 font-weight-bold">Registered Name:</div>
    <div class="col-md-3">{{name}}</div>
    <div class="col-md-3 font-weight-bold">
        Email:
    </div>
    <div class="col-md-3">
        {{email}}
    </div>
    <div class="col-md-3 font-weight-bold">
        Roll Number:
    </div>
    <div class="col-md-3">
        {{rollNumber}}
    </div>
    <div class="col-md-3 font-weight-bold">
        Address:
    </div>
    <div class="col-md-3">
        {{address}}
    </div>
    <div class="col-md-3 font-weight-bold">
        Contact Number:
    </div>
    <div class="col-md-3">
        {{contactNumber}}
    </div>
</div>