{{#each forums as |post|}}
<div class="card m-1" id="{{post._id}}">
    <div class="card-body">
        <div class="row">
            <h4 class="card-title m-0 p-0 col-12 post-heading" data-post-id="{{post._id}}" data-tuition-id="{{post.tuitionId}}"
                style="cursor: pointer">{{post.title}}</h4>
            <small>
                <span class="text-secondary">posted</span>
                <span class="text-info">{{post.fromNow}}</span> <span class="text-secondary">by </span>
                <span class="text-info">{{post.tuitionName}}</span>
            </small>
        </div>
        <div class="row">
            <small class="text-secondary">
                <span class="text-info">{{post.comments.length}}</span> comments
            </small>
        </div>
    </div>
</div>
{{/each}}