{{#each tuitions as |tuition|}}
<div class="tab-pane" id="tab{{tabNumber}}">
    <div class="card bg-info m-0">
        <div class="card-body px-3">
            <h3 class="card-title text-dark" data-id="{{tuition._id}}" data-tabnumber="10">
                {{tuition.name}}
            </h3>
            <h5 class="card-title">
                Study Monitor
            </h5>
        </div>
    </div>
    <ul class="nav nav-pills nav-pills-success mt-3">
        <li class="nav-item"><a class="nav-link active rounded-0" href="#forum{{tuition._id}}" data-toggle="tab">Forum</a></li>
        <li class="nav-item"><a class="nav-link rounded-0" href="#attendance{{tuition._id}}" data-toggle="tab">Attendence</a></li>
        <!-- <li class="nav-item"><a class="nav-link rounded-0 disabled" href="#test{{_id}}" data-toggle="tab">Test Report</a></li> -->
        <li class="nav-item"><a class="nav-link rounded-0" href="#fee{{tuition._id}}" data-toggle="tab">Fee
                Report</a></li>
    </ul>
    <hr>
    <div class="row m-0">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane active" id="forum{{tuition._id}}">
                    <div class="forum-landing-container" data-tuition-id="{{tuition._id}}">
                        <div class="active-forums mb-3" data-tuition-id="{{tuition._id}}">
                        </div>
                    </div>
                    <div class="forum-detail-container d-none" data-tuition-id="{{tuition._id}}">
                        <button class="btn btn-sm btn-info go-to-landing-page-btn" data-tuition-id="{{tuition._id}}">
                            <i class="material-icons" data-tuition-id="{{tuition._id}}">
                                arrow_back
                            </i>
                        </button>
                        <div class="forum-detail-body" data-tuition-id="{{tuition._id}}"></div>
                    </div>
                </div>
                <div class="tab-pane" id="attendance{{tuition._id}}">
                    <div class="attendace-container" data-tuition-id="{{tuition._id}}">

                    </div>
                </div>
                <div class="tab-pane" id="fee{{tuition._id}}">
                    {{!-- <div class="card m-0 mb-4">
                        <div class="card-title col-12 h3">
                            Course Name
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="card-title  h5 font-weight-normal float-left">
                                        Fee Submited
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-title  h5 font-weight-normal float-right">
                                        29000/-
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="card-title  h5 font-weight-normal float-left">
                                        Discount
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-title  h5 font-weight-normal float-right">
                                        5000/-
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="card-title  h5 font-weight-normal float-left">
                                        Fee Remaining
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-title  h5 font-weight-normal float-right">
                                        20000/-
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="card-title  h5 font-weight-normal float-left">
                                        Next Date Of Submission
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-title  h5 font-weight-normal float-right">
                                        29 Feb 2018
                                    </div>
                                </div>
                            </div>
                            <div class="card-title col-12 h5 font-weight-normal">
                                <button type="button" class="btn btn-info float-right mr-2">PAY NOW<div class="ripple-container"></div></button>
                                <br>
                            </div>
                        </div>
                    </div> --}}
                    <div class="fee-report-container" data-tuition-id="{{tuition._id}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}