<div class="col-12 tuition-cards" onclick="openTuitionPage('{{_id}}')">
    <article class="popular-listing-post">
        <div class="post-thumb">
            <img src="/assets/img/fourgirls.jpeg" alt="img" class="img-responsive">
            <div class="listing-info">
                 <h4 class="font-weight-bold">{{name}}</h4>
            </div>
            <div class="rating-area">
                <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <span>(2.5/5)</span>
            </div>
            <!--<div class="option-block">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="javascript:void(0)" class="bookmark"></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="javascript:void(0)" data-toggle="modal"-->
                           <!--data-target="#post_listing_modal_two">-->
                            <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="overlay"></div>
        </div>
        <div class="post-details">
            <div class="post-meta">
                <div class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h5>{{state}}</h5>
                </div>
                <!--<div class="tag">-->
                <!--<span>Ad</span>-->
                <!--<i class="fa fa-check-circle" aria-hidden="true"></i>-->
                <!--</div>-->
            </div>
            <div class="post-entry-block">
                <p class="post-entry">{{description}}</p>
            </div>
            <div class="post-footer">
                <div class="contact-no">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h5>{{primaryNumber}}</h5>
                </div>
                <div class="schedule-info closed">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <h5>Opened Now</h5>
                </div>
            </div>
        </div>
    </article>
</div>