<article class="popular-listing-post" id="{{_id}}">
    <div class=" tuition-cards" onclick="openDetailsPage('{{_id}}')">
        <div class="post-thumb">
            <img src="/assets/img/fourgirls.jpeg" alt="img" class="img-responsive">
            <div class="listing-info">
                <h4 class="font-weight-bold">{{name}}</h4>
            </div>
            <div class="rating-area">
                <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <span>(2.5/5)</span>
            </div>
            <div class="option-block">
                <ul>
                    {{#if claimedBy}}
                        <li>
                            <div class="tag">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </div>
                        </li>
                    {{/if}}
                    <!-- <li>
                         <a href="javascript:void(0)" data-toggle="modal"
                            data-target="#post_listing_modal_two">
                             <i class="fa fa-eye" aria-hidden="true"></i>
                         </a>
                     </li>-->
                </ul>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
    <div class="post-details">
        <div class=" tuition-cards" onclick="openDetailsPage('{{_id}}')">
            <div class="post-meta">
                <div class="location">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h5>{{primaryNumber}}</h5>
                </div>
            </div>
            <!-- <div class="post-meta">
                <div class="location">
                    <i class="material-icons">
                        email
                    </i>
                    <h5>{{primaryEmail}}</h5>
                </div>
            </div>-->
            <!--<div class="post-entry-block">
                <p class="post-entry">{{description}}</p>
            </div>-->
        </div>
        <div class="post-footer">
            <!-- <span class="contact-no">
                 <a onclick="bookmark()" class="bookmark"></a>
             </span>-->
            <div class="schedule-info closed">
                <div class="row justify-content-around mb-md-4">
                    <button class="btn btn-info" onclick="removeBookmarks('{{_id}}')">remove</button>
                </div>
            </div>
        </div>
    </div>
</article>