<li class="page-item">
    <a class="page-link"
       href="                            {{pageM1}}       {{items}}   {{c}}       {{state}}      {{city}}      {{name}}        {{sortBy}}"
       tabindex="-1">Previous</a>
</li>
<li class="page-item"><a class="page-link"
                         href="                            {{pageM1}}       {{items}}   {{c}}       {{state}}      {{city}}      {{name}}        {{sortBy}}">{{pageM1}}</a>
</li>
<li class="page-item active">
    <a class="page-link" href="#">{{page}} <span class="sr-only">(current)</span></a>
</li>
<li class="page-item"><a class="page-link"
                         href="                            {{pageP1}}       {{items}}   {{c}}       {{state}}      {{city}}      {{name}}        {{sortBy}}">{{pageP1}}</a>
</li>
<li class="page-item">
    <a class="page-link"
       href="                            {{pageP1}}       {{items}}   {{c}}       {{state}}      {{city}}      {{name}}        {{sortBy}}">Next</a>
</li>