<li class="page-item">
    <a class="page-link"
       href="searchdetails.html?page={{pageM1}}&items={{items}}&c={{c}}&state={{state}}&city={{city}}&name={{name}}&soryBy={{sortBy}}&typeOfInfo={{typeOfInfo}}"
       tabindex="-1">Previous</a>
</li>
<li class="page-item"><a class="page-link"
                         href="searchdetails.html?page={{pageM1}}&items={{items}}&c={{c}}&state={{state}}&city={{city}}&name={{name}}&soryBy={{sortBy}}&typeOfInfo={{typeOfInfo}}">{{pageM1}}</a>
</li>
<li class="page-item active">
    <a class="page-link" href="#">{{page}}<span class="sr-only">(current)</span></a>
</li>
<li class="page-item"><a class="page-link"
                         href="searchdetails.html?page={{pageP1}}&items={{items}}&c={{c}}&state={{state}}&city={{city}}&name={{name}}&soryBy={{sortBy}}&typeOfInfo={{typeOfInfo}}">{{pageP1}}</a>
</li>
<li class="page-item">
    <a class="page-link"
       href="searchdetails.html?page={{pageP1}}&items={{items}}&c={{c}}&state={{state}}&city={{city}}&name={{name}}&soryBy={{sortBy}}&typeOfInfo={{typeOfInfo}}">Next</a>
</li>