<div class="col-md-4">
    <div class="card newFont">
        <div class=" tuition-cards" onclick="helperScripts.openTuitionPage('{{_id}}')">
            <div class="card p-0 m-0 rounded-0 rounded-top"
                 style="overflow: hidden;text-overflow: ellipsis">
                <div class="rounded-top"
                     style="position: absolute; height: 192px;width: 100%;background-color: rgba(0,0,0,0.5)">
                </div>
                <img class="card-img-top" src="/assets/img/fourgirls.jpeg" alt="Tuition Image"
                     style="height: 192px;width: 100%;">
                <div class="card-img-overlay">
                    <h4 class="card-title text-white">{{name}}</h4>
                    <span class="badge badge-info">{{rating}}/5</span>
                    {{#if claimedBy}}
                        <span class="badge badge-info">verified</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-1 px-0">
                    <i class="material-icons md-18" style="color: #00bcd4">
                        location_on
                    </i>
                </div>
                <div class="col-11">
                    <p id="address">{{addressLine1}},{{addressLine2}},{{city}},{{state}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-1 px-0">
                    <i class="material-icons md-18" style="color: #00bcd4">
                        phone
                    </i>
                </div>
                <div class="col-11">
                    <p id="phone">{{primaryNumber}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-1 px-0">
                    <i class="material-icons md-18" style="color: #00bcd4">
                        email
                    </i>
                </div>
                <div class="col-11">
                    <p id="email">{{email}}</p>
                </div>
            </div>
        </div>
        <div class="pb-0 pt-2 rounded-0 card-footer justify-content-center">
            <div class="col">
                <!--<i class="material-icons" style="cursor: pointer">
                    bookmark
                </i>-->
                <i class="material-icons bookmark-button" style="cursor: pointer" data-id="{{_id}}">
                    bookmark_border
                </i>
            </div>
            <div class="col-6 text-center">
                {{#if openedNow}}
                    <p class="font-weight-bold text-success">Open Now</p>
                {{/if}}
            </div>
            <div class="col">
                <i class="material-icons">
                    share
                </i>
            </div>
        </div>
    </div>
</div>