{{#each listings}}
	<tr>
		<td class="text-center">1</td>
		<td>{{name}}</td>
		<td>{{signedBy}}</td>
		<td>{{updated}}</td>
		<td class="td-actions text-right">
			<a href="https://eduatlas.com/{{viewPage}}?_id={{_id}}" target="_blank" type="button" rel="tooltip" class="btn btn-info">
				<i class="material-icons">person</i>
			</a>
			<a href="https://erp.eduatlas.com/{{editPage}}?a={{_id}}" target="_blank" type="button" rel="tooltip" class="btn btn-success">
				<i class="material-icons">edit</i>
			</a>
			<a type="button" rel="tooltip" class="btn btn-danger listing-delete-btn" data-listing-id="{{_id}}">
				<i class="material-icons" data-listing-id="{{_id}}">close</i>
			</a>
		</td>
	</tr>
{{/each}}
