{{#list key}}
    <div class="col-4" id="faculty{{id}}">
        <div class="card card-nav-tabs">
            <span style="position: absolute;left: 92%;top: -6%;">
            <!-- send (name of the faculty , id of card) as arguments for function deleteFaculty()-->
            </span>
            <img class="card-img-bottom" src="images/{{img_path}}" alt="">
            <div class="card-body">
                <div class="card-title">
                    {{name}}
                </div>
                <div class="card-subtitle mb-2 text-muted">
                    {{qualification}}
                </div>
                <p class="card-text">{{description}}</p>
            </div>
        </div>
    </div>
{{/list}}