<div class="col-6">
    Monday:
</div>
<div class="col-3">
    <div class="h6">
        {{monFrom}}
    </div>
</div>
<div class="col-3">
    <div class="h6">
        {{monTo}}
    </div>
</div>


<div class="col-6">
    Tuesday:
</div>
<div class="col-3">
    <div class="h6">
        {{tueFrom}}
    </div>
</div>
<div class="col-3">
    <div class="h6">
        {{tueTo}}
    </div>
</div>


<div class="col-6">
    Wednsday:
</div>
<div class="col-3">
    <div class="h6">
        {{wedFrom}}
    </div>
</div>
<div class="col-3">
    <div class="h6">
        {{wedTo}}
    </div>
</div>


<div class="col-6">
    Thursday:
</div>
<div class="col-3">
    <div class="h6">
        {{thrFrom}}
    </div>
</div>
<div class="col-3">
    <div class="h6">
        {{thrTo}}
    </div>
</div>


<div class="col-6">
    Friday:
</div>
<div class="col-3">
    <div class="h6">
        {{friFrom}}
    </div>
</div>
<div class="col-3">
    <div class="h6">
        {{friTo}}
    </div>
</div>


<div class="col-6">
    Saturday:
</div>
<div class="col-3">
    <div class="h6">
        {{satFrom}}
    </div>
</div>
<div class="col-3">
    <div class="h6">
        {{satTo}}
    </div>
</div>


<div class="col-6">
    Sunday:
</div>
<div class="col-3">
    <div class="h6">
        {{sunFrom}}
    </div>
</div>
<div class="col-3">
    <div class="h6">
        {{sunTo}}
    </div>
</div>