<form class="row" id="monForm">
    <div class="col-3">
        Mon:
        <input hidden name="day" value="Monday">
    </div>
    <input class="form-control col-4 m-md-0 p-md-1" value="{{monFrom}}" name="fromTime"
           type="time">
    <input class="form-control col-4 m-md-0 p-md-1" value="{{monTo}}" name="toTime"
           type="time">
</form>


<form class="row" id="tueForm">
    <div class="col-3">
        Tue:
        <input hidden name="day" value="Tuesday">
    </div>
    <input class="form-control col-4 m-md-0 p-md-1" value="{{tueFrom}}" name="fromTime" type="time">
    <input class="form-control col-4 m-md-0 p-md-1" value="{{tueTo}}" name="toTime" type="time">

</form>


<form class="row" id="wedForm">
    <div class="col-3">
        Wed:
        <input hidden name="day" value="Wednesday">
    </div>
    <input class="form-control col-4 m-md-0 p-md-1" value="{{wedFrom}}" name="fromTime" type="time">
    <input class="form-control col-4 m-md-0 p-md-1" value="{{wedTo}}" name="toTime" type="time">
</form>


<form class="row" id="thrForm">
    <div class="col-3">
        Thr:
        <input hidden name="day" value="Thursday">
    </div>
    <input class="form-control col-4 m-md-0 p-md-1" value="{{thrFrom}}" name="fromTime" type="time">
    <input class="form-control col-4 m-md-0 p-md-1" value="{{thrTo}}" name="toTime" type="time">
</form>


<form class="row" id="friForm">
    <div class="col-3">
        Fri:
        <input hidden name="day" value="Friday">
    </div>
    <input class="form-control col-4 m-md-0 p-md-1" value="{{friFrom}}" name="fromTime" type="time">
    <input class="form-control col-4 m-md-0 p-md-1" value="{{friTo}}" name="toTime" type="time">
</form>


<form class="row" id="satForm">
    <div class="col-3">
        Sat:
        <input hidden name="day" value="Saturday">
    </div>
    <input class="form-control col-4 m-md-0 p-md-1" value="{{satFrom}}" name="fromTime" type="time">
    <input class="form-control col-4 m-md-0 p-md-1" value="{{satTo}}" name="toTime" type="time">
</form>


<form class="row" id="sunForm">
    <div class="col-3">
        Sun:
        <input hidden name="day" value="Sunday">
    </div>
    <input class="form-control col-4 m-md-0 p-md-1" value="{{sunFrom}}" name="fromTime" type="time">
    <input class="form-control col-4 m-md-0 p-md-1" value="{{sunTo}}" name="toTime" type="time">
</form>